version: '3'

services:
  multiversx-rosetta-rosetta-observer-mainnet:
    ulimits:
      nproc: 65535
    image: multiversx-rosetta-rosetta:latest
    container_name: multiversx-rosetta-rosetta-observer-mainnet
    ports:
      - "${PORT_OBSERVER}:8080"
      - "${PORT_P2P}:37373"
    volumes:
      - ${DATA_FOLDER_OBSERVER}:/data
    environment:
      - NETWORK=mainnet
      - PROGRAM=node
      # For the download step:
      - DOWNLOAD_REGULAR_ARCHIVE=${DOWNLOAD_REGULAR_ARCHIVE}
      - DOWNLOAD_REGULAR_ARCHIVE_URL=${DOWNLOAD_REGULAR_ARCHIVE_URL}
      - DOWNLOAD_NON_PRUNED_EPOCHS=${DOWNLOAD_NON_PRUNED_EPOCHS}
      - DOWNLOAD_NON_PRUNED_EPOCHS_URL=${DOWNLOAD_NON_PRUNED_EPOCHS_URL}
      - DOWNLOAD_EPOCH_FIRST=${DOWNLOAD_EPOCH_FIRST}
      - DOWNLOAD_EPOCH_LAST=${DOWNLOAD_EPOCH_LAST}
      - DOWNLOAD_CHAIN_ID=1
    command: --destination-shard-as-observer=${OBSERVER_ACTUAL_SHARD} --log-save --log-level=${LOG_LEVEL} --log-logger-name --rest-api-interface=0.0.0.0:8080 --working-directory=/data --validator-key-pem-file=/data/observerKey.pem
    networks:
      multiversx-rosetta-rosetta-mainnet:
        ipv4_address: 10.0.0.10

  multiversx-rosetta-rosetta-online-mainnet:
    image: multiversx-rosetta-rosetta:latest
    container_name: multiversx-rosetta-rosetta-online-mainnet
    ports:
      - "${PORT_ROSETTA_ONLINE}:8080"
    volumes:
      - ${DATA_FOLDER_ROSETTA_ONLINE}:/data
    environment:
      - NETWORK=mainnet
      - PROGRAM=rosetta
    command: --port 8080 --observer-http-url=http://10.0.0.10:8080 --blockchain=${BLOCKCHAIN_NAME} --network-id=1 --network-name=mainnet --num-shards=3 --observer-actual-shard=${OBSERVER_ACTUAL_SHARD} --observer-projected-shard=${OBSERVER_PROJECTED_SHARD} --genesis-block=${GENESIS_BLOCK} --genesis-timestamp=${GENESIS_TIMESTAMP} --first-historical-epoch=${FIRST_HISTORICAL_EPOCH} --num-historical-epochs=${NUM_HISTORICAL_EPOCHS} --native-currency=EGLD --logs-folder=/data
    networks:
      multiversx-rosetta-rosetta-mainnet:
        ipv4_address: 10.0.0.21

  multiversx-rosetta-rosetta-offline-mainnet:
    image: multiversx-rosetta-rosetta:latest
    container_name: multiversx-rosetta-rosetta-offline-mainnet
    ports:
      - "${PORT_ROSETTA_OFFLINE}:8080"
    volumes:
      - ${DATA_FOLDER_ROSETTA_OFFLINE}:/data
    environment:
      - NETWORK=mainnet
      - PROGRAM=rosetta
    command: --port 8080 --offline --observer-http-url=http://nowhere.localhost.local --blockchain=${BLOCKCHAIN_NAME} --network-id=1 --network-name=mainnet --num-shards=3 --observer-actual-shard=${OBSERVER_ACTUAL_SHARD} --observer-projected-shard=${OBSERVER_PROJECTED_SHARD} --genesis-block=${GENESIS_BLOCK} --genesis-timestamp=${GENESIS_TIMESTAMP} --first-historical-epoch=${FIRST_HISTORICAL_EPOCH} --num-historical-epochs=${NUM_HISTORICAL_EPOCHS} --native-currency=EGLD --logs-folder=/data
    networks:
      multiversx-rosetta-rosetta-mainnet:
        ipv4_address: 10.0.0.22

networks:
  multiversx-rosetta-rosetta-mainnet:
    ipam:
      config:
        - subnet: 10.0.0.0/24
